@media screen and (max-width: 400px) {
  * {
    color: black;
    width: 100%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }
  .owner {
    display: none; }
  #search-a {
    display: none;
    border-radius: 30px;
    width: 285px; }
  .block-2 {
    padding: 10px; }
  #hero-img {
    border-radius: 20px; }
  .hero-text {
    color: #ecf3f2;
    margin-top: -415px;
    padding: 180px 40px 0px 50px; }
  #search {
    border-radius: 30px;
    width: 290px; }
  #search-btn-a {
    display: none;
    margin: 5px;
    width: 167px;
    margin-left: 0px;
    padding: 10px;
    border-radius: 30px;
    background-color: #ccc8c8;
    color: black;
    transition: 0.6s;
    box-shadow: 0px 0px 6px black; }
  #search-b {
    border-radius: 30px;
    width: 285px; }
  #search-btn-b {
    margin: 5px;
    width: 167px;
    margin-left: 0px;
    padding: 10px;
    background-color: #ccc8c8;
    color: black;
    transition: 0.6s;
    box-shadow: 0px 0px 6px black;
    border-radius: 44px;
    margin-left: -80px;
    display: flex; }
  #search-c {
    border-radius: 30px;
    width: 1081px; }
  .s-btn {
    display: none; }
  .text {
    display: block !important;
    padding: 23px 131px 16px 38px !important; }
  .hidden {
    display: block !important; }
  .again {
    display: block !important; }
  #scroll-buttons .button-work .button-written .button-set .button-list {
    width: 80vw;
    overflow-x: scroll;
    list-style-type: none;
    display: flex;
    scrollbar-width: none; }
    #scroll-buttons .button-work .button-written .button-set .button-list li .s-btn {
      background: #f5f1e6;
      width: 167px;
      height: 47px; }
      #scroll-buttons .button-work .button-written .button-set .button-list li .s-btn:hover {
        background-color: #f5f1e6;
        color: black; }
  .again {
    display: block; }
  #search-btn-c {
    margin: 5px;
    width: 167px;
    margin-left: 0px;
    padding: 10px;
    background-color: #ccc8c8;
    color: black;
    transition: 0.6s;
    box-shadow: 0px 0px 6px black;
    border-radius: 44px;
    margin-left: -80px;
    display: flex; }
  .News {
    display: block !important;
    padding: 6px;
    width: 331px; }
  .quality {
    margin: 5px;
    margin-left: 0px;
    padding: 6px;
    border-radius: 30px;
    background-color: #f5f1e6;
    color: black;
    transition: 0.6s; }
  .center-b {
    margin: 20px;
    text-align: center;
    padding: 40px; }
  .bar {
    text-align: center;
    height: 50px; }
  #hide {
    box-shadow: 0px 0px 3px grey; }
  .slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 488px;
    /* adjust as needed */
    margin: 0 auto; }
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out; }
  .btn-slide {
    height: 2px;
    cursor: pointer;
    color: #1a183e;
    font-weight: bold;
    border-radius: 60px;
    flex: 1;
    text-align: center;
    padding: 38px;
    background-color: #ccc;
    /* adjust as needed */ }
  .btn-slide:hover {
    box-shadow: 0px 0px 3px grey;
    transition: 0.6s;
    transform: scale(1.06); }
  .navigation {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); }
  .navigation label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #888;
    /* adjust as needed */
    margin: 0 5px; }
  input[type="radio"] {
    display: none; }
  #slide1:checked ~ .slides {
    transform: translateX(0); }
  #slide2:checked ~ .slides {
    transform: translateX(-100%); }
  #slide3:checked ~ .slides {
    transform: translateX(-200%); }
  #College {
    box-shadow: 0px 0px 4px grey;
    height: 128px;
    border-radius: 9px; }
  .card-img {
    height: 200px;
    box-shadow: 0px 0px 16px grey; }
  .card-img:hover {
    box-shadow: 0px 0px 3px grey; }
  #searcher {
    width: 111px;
    margin-left: -118px;
    padding: 13px;
    border-radius: 30px;
    background-color: #ccc8c8;
    color: black;
    box-shadow: 0px 0px 6px black; }
  #search-btn {
    margin: 5px;
    width: 167px;
    margin-left: 0px;
    padding: 10px;
    border-radius: 30px;
    background-color: #ccc8c8;
    color: black;
    transition: 0.6s;
    box-shadow: 0px 0px 6px black; }
  #search-btn:hover {
    background-color: #e7dfdf;
    box-shadow: 0px 0px 3px grey;
    transform: scale(1.06);
    transition: 0.6s; }
  #search-btn-m {
    margin: 5px;
    width: 167px;
    margin-left: 197px;
    padding: 10px;
    border-radius: 30px;
    background-color: #ccc8c8;
    color: black;
    transition: 0.6s;
    box-shadow: 0px 0px 6px black; }
  #search-btn-m:hover {
    background-color: #e7dfdf;
    box-shadow: 0px 0px 3px grey;
    transform: scale(1.06);
    transition: 0.6s; }
  .exam-list {
    box-shadow: 0px 0px 4px grey;
    background-color: #ccc;
    padding: 30px; }
  #went {
    margin-left: 8px;
    width: 30px; }
  #show-img {
    height: 150px !important;
    width: 150px !important;
    border-radius: 8px !important;
    box-shadow: 0px 0px 20px #5e5c5c !important;
    transition: 0.6s !important; }
  #show-img:hover {
    transform: scale(1.06) !important;
    transition: 0.6s !important; }
  #a {
    margin-left: 3px !important;
    margin-top: 25px !important; }
  .block-4 {
    display: none !important;
    margin-top: 43px !important; }
  .block-5 {
    display: none; }
  .block-7 {
    display: none; }
  .slider-a {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 882px;
    /* adjust as needed */
    margin: 0 auto; }
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out; }
  .btn-slide {
    height: 2px;
    cursor: pointer;
    color: #1a183e;
    font-weight: bold;
    border-radius: 60px;
    flex: 1;
    text-align: center;
    padding: 23px;
    background-color: #f3f3c5; }
  .btn-slide:hover {
    box-shadow: 0px 0px 3px grey;
    transition: 0.6s;
    transform: scale(1.06); }
  .navigation {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); }
  .navigation label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #888;
    /* adjust as needed */
    margin: 0 5px; }
  input[type="radio"] {
    display: none; }
  #slide1:checked ~ .slides {
    transform: translateX(0); }
  #slide2:checked ~ .slides {
    transform: translateX(-100%); }
  #slide3:checked ~ .slides {
    transform: translateX(-200%); }
  .card-img {
    height: 200px;
    box-shadow: 0px 0px 16px grey; }
  .card-img:hover {
    box-shadow: 0px 0px 3px grey; }
  #searcher {
    width: 111px;
    margin-left: -118px;
    padding: 13px;
    border-radius: 30px;
    background-color: #ccc8c8;
    color: black;
    box-shadow: 0px 0px 6px black; }
  #search-btn {
    margin: 5px;
    width: 167px;
    margin-left: 0px;
    padding: 10px;
    border-radius: 30px;
    background-color: #ccc8c8;
    color: black;
    transition: 0.6s;
    box-shadow: 0px 0px 6px black; }
  #search-btn:hover {
    background-color: #e7dfdf;
    box-shadow: 0px 0px 3px grey;
    transform: scale(1.06);
    transition: 0.6s; }
  .onmobile {
    display: block !important; }
  .block-6 {
    display: none;
    margin-top: -10px;
    color: black;
    padding: 30px; }
    .block-6 .row {
      display: none !important; }
  .exam {
    width: 103vw; }
  #one {
    text-align: left;
    margin: 10px;
    border-radius: 20px;
    column-gap: 3px;
    box-shadow: 0px 0px 3px grey;
    margin-left: 10px;
    padding: 15px;
    width: 103vw; }
  .ex-img {
    border-radius: 20px;
    height: 72px; }
  .buttons {
    margin: -18px;
    padding: 65px;
    text-align: right; }
  .block-9 {
    margin: 13px; }
  .head-line {
    text-align: center;
    padding: 30px; }
  .buttons-2 {
    text-align: center; }
  .center {
    margin: 20px;
    text-align: center;
    border: 2px dotted gray;
    padding: 40px; }
  .block-10 {
    margin-top: -1px; }
  .block-11 {
    padding: 0px;
    margin: 0px; }
  #end {
    color: grey;
    margin-top: 30px;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    transition: 0.6s; }
  #end:hover {
    box-shadow: 0px 0px 3px grey;
    border-radius: 30px;
    transition: 0.6s;
    cursor: pointer; }
  .block-12 {
    padding: 20px; }
  .block-13 {
    display: flex;
    text-align: center; }
  .khatam {
    display: flex;
    padding: 6px 107px 0px 107px; }
  #social {
    padding: 10px 102px 0px 102px;
    font-size: 20px;
    display: flex;
    text-align: center; }
  #last {
    margin-left: 29px;
    padding: 20px; }
  .sub-menu-work {
    display: none; }
  #myTab {
    border-bottom: 1px solid #ecf3f2;
    margin-bottom: 40px;
    justify-content: center; }
  .nav-item {
    color: black;
    padding: 10px;
    border: 2px black;
    border-radius: 30px; }
  #Common {
    color: black; }
  #NEET {
    color: black; }
  #JEE {
    color: black; }
  #NID {
    color: black; }
  .nav-item :hover {
    text-decoration: underline 4px #067446; }
  .image-container {
    position: relative;
    width: 100%; }
  .image-container img {
    width: 100%;
    height: auto; }
  .overlay {
    display: none; }
  .overlay h2 {
    margin-top: 0; }
  .overlay p {
    margin-bottom: 0; }
  #logo {
    font-family: fangsong;
    font-weight: bolder;
    font-size: 30px; }
  .owner-2 {
    display: block !important;
    float: inline-end;
    border-radius: 50%;
    height: 41px;
    padding: 2px;
    width: 56px;
    box-shadow: 0px 0px 3px grey;
    transform: scale(1.06); }
  .block-3 {
    display: none !important; }
  .hide-search {
    margin-left: 4px;
    padding: 4px;
    text-align: center;
    display: block !important; }
  #search-2 {
    border-radius: 30px;
    width: 354px !important; } }

* {
  color: black;
  width: 100%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; }

.block-3 {
  display: block; }

.owner {
  border-radius: 50%;
  height: 56px;
  padding: 5px;
  width: 130px;
  box-shadow: 0px 0px 3px grey;
  transform: scale(1.06); }

#search-a {
  border-radius: 30px;
  width: 285px; }

.hide-search {
  display: none; }

.again {
  display: none; }

.block-2 {
  padding: 10px; }

#hero-img {
  border-radius: 20px; }

.hero-text {
  color: #ecf3f2;
  margin-top: -415px;
  padding: 180px 40px 0px 50px; }

#search {
  border-radius: 30px;
  width: 290px; }

#search-btn-a {
  margin: 5px;
  width: 167px;
  margin-left: 0px;
  padding: 10px;
  border-radius: 30px;
  background-color: #ccc8c8;
  color: black;
  transition: 0.6s;
  box-shadow: 0px 0px 6px black; }

#search-b {
  border-radius: 30px;
  width: 285px; }

#search-btn-b {
  margin: 5px;
  width: 167px;
  margin-left: 0px;
  padding: 10px;
  background-color: #ccc8c8;
  color: black;
  transition: 0.6s;
  box-shadow: 0px 0px 6px black;
  border-radius: 44px;
  margin-left: -80px;
  display: flex; }

#search-c {
  border-radius: 30px;
  width: 1081px; }

.s-btn {
  display: none; }

.text {
  display: none;
  padding: 0px 131px 16px 0px; }

.hidden {
  display: none; }

#scroll-buttons .button-work .button-written .button-set .button-list {
  width: 80vw;
  overflow-x: scroll;
  list-style-type: none;
  display: flex;
  scrollbar-width: none; }
  #scroll-buttons .button-work .button-written .button-set .button-list li .s-btn {
    background: #f5f1e6;
    width: 167px;
    height: 47px; }
    #scroll-buttons .button-work .button-written .button-set .button-list li .s-btn:hover {
      background-color: #f5f1e6;
      color: black; }

#search-btn-c {
  margin: 5px;
  width: 167px;
  margin-left: 0px;
  padding: 10px;
  background-color: #ccc8c8;
  color: black;
  transition: 0.6s;
  box-shadow: 0px 0px 6px black;
  border-radius: 44px;
  margin-left: -80px;
  display: flex; }

.News {
  display: none;
  padding: 6px;
  width: 331px; }

.center-b {
  margin: 20px;
  text-align: center;
  padding: 40px; }

.bar {
  text-align: center;
  height: 50px; }

#hide {
  box-shadow: 0px 0px 3px grey; }

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 488px;
  /* adjust as needed */
  margin: 0 auto; }

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out; }

.btn-slide {
  height: 2px;
  cursor: pointer;
  color: #1a183e;
  font-weight: bold;
  border-radius: 60px;
  flex: 1;
  text-align: center;
  padding: 38px;
  background-color: #ccc;
  /* adjust as needed */ }

.btn-slide:hover {
  box-shadow: 0px 0px 3px grey;
  transition: 0.6s;
  transform: scale(1.06); }

.navigation {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%); }

.navigation label {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #888;
  /* adjust as needed */
  margin: 0 5px; }

input[type="radio"] {
  display: none; }

#slide1:checked ~ .slides {
  transform: translateX(0); }

#slide2:checked ~ .slides {
  transform: translateX(-100%); }

#slide3:checked ~ .slides {
  transform: translateX(-200%); }

.card-img {
  height: 200px;
  box-shadow: 0px 0px 16px grey; }

.card-img:hover {
  box-shadow: 0px 0px 3px grey; }

#searcher {
  width: 111px;
  margin-left: -118px;
  padding: 13px;
  border-radius: 30px;
  background-color: #ccc8c8;
  color: black;
  box-shadow: 0px 0px 6px black; }

#search-btn {
  margin: 5px;
  width: 167px;
  margin-left: 0px;
  padding: 10px;
  border-radius: 30px;
  background-color: #ccc8c8;
  color: black;
  transition: 0.6s;
  box-shadow: 0px 0px 6px black; }

#search-btn:hover {
  background-color: #e7dfdf;
  box-shadow: 0px 0px 3px grey;
  transform: scale(1.06);
  transition: 0.6s; }

#show-img {
  height: 150px;
  width: 150px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px #5e5c5c;
  transition: 0.6s; }

#show-img:hover {
  transform: scale(1.06);
  transition: 0.6s; }

#a {
  margin-left: 3px;
  margin-top: 25px; }

.block-4 {
  display: block;
  margin-top: 43px; }

.block-5 {
  padding: 20px; }

.slider-a {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 882px;
  /* adjust as needed */
  margin: 0 auto; }

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out; }

.btn-slide {
  height: 2px;
  cursor: pointer;
  color: #1a183e;
  font-weight: bold;
  border-radius: 60px;
  flex: 1;
  text-align: center;
  padding: 23px;
  background-color: #f3f3c5; }

.btn-slide:hover {
  box-shadow: 0px 0px 3px grey;
  transition: 0.6s;
  transform: scale(1.06); }

.navigation {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%); }

.navigation label {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #888;
  /* adjust as needed */
  margin: 0 5px; }

input[type="radio"] {
  display: none; }

#slide1:checked ~ .slides {
  transform: translateX(0); }

#slide2:checked ~ .slides {
  transform: translateX(-100%); }

#slide3:checked ~ .slides {
  transform: translateX(-200%); }

.card-img {
  height: 200px;
  box-shadow: 0px 0px 16px grey; }

.card-img:hover {
  box-shadow: 0px 0px 3px grey; }

#searcher {
  width: 111px;
  margin-left: -118px;
  padding: 13px;
  border-radius: 30px;
  background-color: #ccc8c8;
  color: black;
  box-shadow: 0px 0px 6px black; }

#search-btn {
  margin: 5px;
  width: 167px;
  margin-left: 0px;
  padding: 10px;
  border-radius: 30px;
  background-color: #ccc8c8;
  color: black;
  transition: 0.6s;
  box-shadow: 0px 0px 6px black; }

#search-btn:hover {
  background-color: #e7dfdf;
  box-shadow: 0px 0px 3px grey;
  transform: scale(1.06);
  transition: 0.6s; }

.onmobile {
  display: none; }

.block-6 {
  margin-top: -10px;
  color: black;
  padding: 30px; }

.buttons {
  margin: -18px;
  padding: 65px;
  text-align: right; }

.block-9 {
  margin: 13px; }

.head-line {
  text-align: center;
  padding: 30px; }

.buttons-2 {
  text-align: center; }

.center {
  margin: 20px;
  text-align: center;
  border: 2px dotted gray;
  padding: 40px; }

.block-10 {
  margin-top: -1px; }

.block-11 {
  padding: 0px;
  margin: 0px; }

#end {
  color: grey;
  margin-top: 30px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: 0.6s; }

#end:hover {
  box-shadow: 0px 0px 3px grey;
  border-radius: 30px;
  transition: 0.6s;
  cursor: pointer; }

.block-12 {
  padding: 20px; }

.block-13 {
  display: flex;
  text-align: center; }

.khatam {
  display: flex;
  padding: 6px 107px 0px 107px; }

#social {
  padding: 10px 102px 0px 102px;
  font-size: 20px;
  display: flex;
  text-align: center; }

#last {
  margin-left: 29px;
  padding: 20px; }

.sub-menu-work {
  display: none; }

#myTab {
  border-bottom: 1px solid #ecf3f2;
  margin-bottom: 40px;
  justify-content: center; }

.nav-item {
  color: black;
  padding: 10px;
  border: 2px black;
  border-radius: 30px; }

#Common {
  color: black; }

#NEET {
  color: black; }

#JEE {
  color: black; }

#NID {
  color: black; }

.nav-item :hover {
  text-decoration: underline 4px #067446; }

.image-container {
  position: relative;
  width: 100%; }

.image-container img {
  width: 100%;
  height: auto; }

.overlay {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 64px;
  text-align: left; }

.overlay h2 {
  margin-top: 0; }

.overlay p {
  margin-bottom: 0; }

#logo {
  font-family: fangsong;
  font-weight: bolder;
  font-size: 30px; }

.owner-2 {
  display: none;
  float: inline-end;
  border-radius: 50%;
  height: 41px;
  padding: 2px;
  width: 56px;
  box-shadow: 0px 0px 3px grey;
  transform: scale(1.06); }
